.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(18, 99, 131);
  text-decoration: none;
}

.navbar-logo img {
  height: 45px;
  width: auto;
  margin-top: 8px;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: rgb(18, 99, 131);
  text-decoration: none;
}

.navbar-links a:hover {
  color: rgb(18, 99, 131);
}

.navbar-links a.active {
  color: rgb(100, 100, 100);
}

.hero {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

#hero-img {
  height: 200px;
  width: auto;
  display: block;
  border-radius: 25px;
}

.hero-section {
  display: flex;
  justify-content: flex-end;
}

.hero-section h1 {
  color: rgb(18, 99, 131);
  font-size: 2rem;
}

.hero-section h3 {
  color: rgb(110, 165, 187);
  font-size: 1rem;
}

.hero-section p {
  color: rgb(0, 0, 0);
  max-width: 350px;
  font-size: 0.9rem;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
