.home-page {
  display: grid;
  grid-template-areas:
    "hero hero"
    "content content"
    "footer footer";
  width: 100%;
}
.hero {
  grid-area: hero;
}
.content {
  grid-area: content;
}
.footer {
  grid-area: footer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(18, 99, 131);
  text-decoration: none;
}

.navbar-logo img {
  height: 45px;
  width: auto;
  margin-top: 8px;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: rgb(18, 99, 131);
  text-decoration: none;
}

.navbar-links a:hover {
  color: rgb(18, 99, 131);
}

.navbar-links a.active {
  color: rgb(100, 100, 100);
}

.hero {
  grid-area: hero;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 10%;
  gap: 2rem;
}

.hero h1 {
  color: rgb(18, 99, 131);
  font-size: 2rem;
}

.hero h3 {
  color: rgb(110, 165, 187);
  font-size: 1rem;
  padding-top: 10px;
}

.hero p {
  color: rgb(0, 0, 0);
  max-width: 350px;
  font-size: 0.9rem;
  padding-top: 10px;
}

#hero-img {
  height: 320px;
  width: auto;
  display: block;
  border-radius: 25px;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
