.home-page {
  display: grid;
  grid-template-areas:
    "hero hero"
    "content content"
    "footer footer";
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  grid-area: hero;
}
.content {
  grid-area: content;
}
.footer {
  grid-area: footer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(18, 99, 131);
  text-decoration: none;
}

.navbar-logo img {
  height: 45px;
  width: auto;
  margin-top: 8px;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: rgb(18, 99, 131);
  text-decoration: none;
}

.navbar-links a:hover {
  color: rgb(18, 99, 131);
}

.navbar-links a.active {
  color: rgb(100, 100, 100);
}

.hero {
  grid-area: hero;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 10%;
  gap: 2rem;
}

.hero h1 {
  color: rgb(18, 99, 131);
  font-size: 2rem;
}

.hero h3 {
  color: rgb(110, 165, 187);
  font-size: 1rem;
  padding-top: 10px;
}

.hero p {
  color: rgb(0, 0, 0);
  max-width: 350px;
  font-size: 0.9rem;
  padding-top: 10px;
}

#view-button {
  overflow: hidden;
  position: relative;
  margin: 20px;
  padding: 18px 24px;
  border-radius: 12px;
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
  background: rgb(18, 99, 131);
  transition: all 0.3s ease;
  cursor: pointer;
  width: 180px;
}

#view-button:hover {
  background-color: rgb(81, 139, 158);
  color: white;
}

#view-button {
  .view-button-mask {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    padding: 1px;
    mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0) border-box;
    mask-composite: exclude;
  }
}

.view-button-glow {
  background: conic-gradient(
    from 0deg,
    transparent 0%,
    #fff 10%,
    #000,
    transparent 20%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  animation: rotateShine 3s linear infinite;
}

@keyframes rotateShine {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

#explore-button {
  overflow: hidden;
  position: relative;
  margin: 20px;
  padding: 18px 24px;
  border-radius: 12px;
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
  background: rgb(18, 99, 131);
  transition: all 0.3s ease;
  cursor: pointer;
  width: 180px;
}

#explore-button:hover {
  background-color: rgb(81, 139, 158);
  color: white;
}

#explore-button {
  .explore-button-mask {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    padding: 1px;
    mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0) border-box;
    mask-composite: exclude;
  }
}

.explore-button-glow {
  background: conic-gradient(
    from 0deg,
    transparent 0%,
    #fff 10%,
    #000,
    transparent 20%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  animation: rotateShine 3s linear infinite;
}

@keyframes rotateShine {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

#hero-img {
  height: 320px;
  width: auto;
  display: block;
  border-radius: 25px;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
